# Validator Address
VALIDATOR_ADDRESS=

# Ethereum Sepolia RPC URLs
SEPOLIA_RPC_URL=https://ethereum-sepolia.publicnode.com

# Private key for deployment 
PRIVATE_KEY=

# Block Explorer API Keys
ETHERSCAN_API_KEY=

# AVS Configuration
MINIMUM_STAKE=100000000000000000000
USD_TOKEN_ADDRESS=
ISSUES_CLAIM_ADDRESS=
AVS_CONTRACT_ADDRESS=
VALIDATOR_PRIVATE_KEY=
